html, body {
    margin: 0;
    padding: 0;
  }
  
  body{
    background-color: rgba(67, 124, 169);
  }
  
  canvas {
    display: block;
    margin: auto ;
  }

  #nextbutton{
    cursor: pointer;
    padding-left: 25%;
  }

  #backbutton{
    cursor: pointer;
    padding-left: 25%;
  }
  